<md-content>
    <br>
    <div style="high:10px"></div>
        <br>
    <md-card style="width: 80%; margin:auto">
        <h4 style="margin-left: 10%">My Transaction</h4>
        <div  ui-grid="gridOption_MyTransaction" ui-grid-pagination class="grid"></div>
        <md-content style="margin-left: 5%">
            <h6>Current page: {{gridApiMT.pagination.getPage()}}/{{gridApiMT.pagination.getTotalPages()}}</h6>
        <div  class="buttonGroup">
            <md-button flex class="md-raised md-primary" ng-click="gridApiMT.pagination.previousPage()">previous page</md-button>
            <md-button flex class="md-raised md-primary" ng-click="gridApiMT.pagination.nextPage()"> Next Page</md-button>
            <md-button flex class="md-raised md-primary" ng-click="createNewExpense()">New</md-button>
        </div>
        </md-content>
        <br>
    </md-card>
    <br>
    <md-card style="width: 80%; margin:auto">
        <md-list style="height: 250px;overflow:hidden">
            <md-subheader class="md-no-sticky">Category</md-subheader>
            <md-list-item style="float: left;" class="md-2-line contact-item" ng-repeat="category in categories">
                <div class="md-list-item-text compact">
                    <h3>{{category.name}}</h3>
                    <p>{{category.description}}</p>
                </div>
            </md-list-item>
        </md-list>
        <md-content style="margin-left: 5%">
            <md-button flex class="md-raised md-primary" ng-click="createNewCategory()">New</md-button>
        </md-content>
    </md-card>
    <br>
</md-content>